body {
    background-color: #FAF6E9;
}

/* Hela navigeringen */
#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
 /* Navigeringen till höger */
#asideDiv {
    display: flex;
    align-items: center;
    position: relative;
}

#hamburgerMenu {
    display: none; /*Göm länkarna i hamburgarmenyn*/
    list-style-type: none;
    position: absolute;
    background-color: #DDEB9D;
    top: 100%;
    padding: 10px;
    margin-top: 0px;
    box-shadow: 0 1px 2px;
    border-radius: 3%;
}

#hamburgerMenu li {
    margin-bottom: 15px;
}

