* {
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

body {
    position: relative;
    margin: 0px;
}

/* för att sätta en margin på alla sidor förutom på bakgrundsbilden på startsidan*/
#page {
    margin: 7px;
    margin-top: 100px;
}

#startpage {
    margin: 7px;
}

/* Centrerar smapiPlace och favoriter*/
#placeContainer,
#favoritesContainer,
#destination {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#backgroundWrapper {
    position: relative;
    width: 100%;
    height: 650px;
    overflow: hidden;
    background-image: url(../bakgrunder/lake.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}

/* Hela navigeringen */
#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 1000;
    top: 0;
    position: fixed;
    background-color: rgb(183, 215, 173);
    width: 100%;
    height: 95px;
    padding: 15px;
}

/* Navigeringen till höger */
#asideDiv {
    display: flex;
    align-items: center;
    position: relative;
}

/* section element för intro texten på index.html */
#intro,
#intro2 {
    text-align: center;
    font-size: 20px;
    margin: 25px;
    background-color: rgba(37, 56, 36, 0.568);
    color: rgb(255, 255, 255);
    border-radius: 12px;
}

#intro {
    margin-top: 120px;
}

#intro a {
    color: #ffa93f;
}

#intro a:hover {
    color: #c6812e;
}

/* Hela formuläret för frågorna */
#form {
    border-radius: 10px;
    padding: 5px;
    background-color: rgba(223, 237, 216, 0.863);
    height: 230px;
    position: relative;
    min-width: 300px;
    z-index: 1;
    margin: 0 30px 100px 30px;
}

/* Svarsalternativen */
#form label {
    display: block;
    margin-left: 20px;
    padding: 5px;
}

/* De olika frågorna i formuläret */
.hide {
    display: none;
}

/* knapparna i formuläret */
#form button {
    background-color: #a1d787;
    margin: 5px;
    border: 1px solid rgb(51, 117, 52);
}

/* omslutande element för nästa och tillbaka knapparna i formuläret */
.formBtn {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

/* för första frågan som bara har en knapp, så den också ligger till höger */
.formBtn:has(button:first-child:last-child) {
    justify-content: flex-end;
}

/* klass för stilsättning av inaktiverad knapp */
.disabled {
    pointer-events: none;
    opacity: 0.5;
}

/* Ändrar storlek och färg på radioknappar och checkbox i formuläret */
input[type="radio"],
input[type="checkbox"] {
    transform: scale(1.3);
    accent-color: #2e9131;
}

/* de olika frågorna i formuläret */
#question1,
#question2,
#question3,
#question4 {
    height: 180px;
}

/* hamburgermenyn till höger */
#hamburgerMenu {
    display: none;
    /*Göm länkarna i hamburgarmenyn*/
    list-style-type: none;
    position: absolute;
    background-color: #c8e3ba;
    top: 100%;
    margin-top: 0px;
    box-shadow: 0 1px 2px;
    border-radius: 3%;
    z-index: 1001;
    /* så dropdownen hamnar över kartan*/
    right: 0;
    width: 130px;
    text-align: left;
    margin: 0 auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* de olika länkarna i hamburgermenyn */
#hamburgerMenu a {
    display: block;
    text-decoration: none;
    padding: 10px;
    color: #000000;
    text-align: left;
}

#hamburgerMenu a:hover {
    text-decoration: underline;
    background-color: #b1cd99;
}

/* bilden för hamburgarmenyn */
#hamburgerIcon {
    margin-left: 15px;
    margin-bottom: 5px;
}

/* alla knapparna */
button {
    border-radius: 7px;
    border: 0;
    background-color: rgb(232, 228, 228);
    color: #000000;
    font-size: 13px;
    padding: 8px;
    margin-top: 10px;
}

/* när man hovrar över knapparna */
button:hover {
    background-color: rgb(213, 210, 210);
    cursor: pointer;
}

/* hover för forumlärets knappar */
#form button:hover {
    background-color: #b0d294;
    color: white;
    cursor: pointer;
}

/* div elementet som är runt det nya div elementet för varje populär turistdestination */
#popularOutsideDiv>div,
#popularInsideDiv>div,
#near {
    display: flex;
}

/* nya div elementen för populära turistmål */
.smapiPopular {
    flex: 0 0 60vw;
    background-color: #dfedd8;
    height: 145px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.4);
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 13px;
    font-size: 11px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: min-content min-content min-content min-content;
    grid-template-areas:
        "img heart"
        "img h3"
        "img h4"
        "img p";
}

/* hjärt ikonen i populära resmål*/
.smapiPopular .heart {
    grid-area: heart;
    width: 35px;
    height: 35px;
    justify-self: end;
    padding: 7px;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0;
}

/* img i populära turistmål */
.smapiPopular img {
    width: 95px;
    height: 95px;
    grid-area: img;
    margin-top: 35px;
    margin-right: 5px;
    margin-left: 8px;
}

/* p i populära turistmål */
.smapiPopular p {
    grid-area: p;
    margin-top: 0px;
    text-align: left;
    padding-left: 3px;
}

/* h4 i populära turistmål */
.smapiPopular h4 {
    grid-area: h4;
    margin-top: 2px;
    text-align: left;
    padding-left: 3px;
}

/* h3 i populära turistmål */
.smapiPopular h3 {
    grid-area: h3;
    margin-top: 0;
    font-size: 12px;
    text-align: left;
    padding: 3px;
}

.smapiPopular:hover .name {
    text-decoration: underline;
}

/* omslutande element för populära turistmål */
#wrapperElem,
#wrapperElem2,
#near {
    overflow-y: scroll;
}

/* nya div elementen för alla turistmål på listsidan */
.smapiPlace {
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    text-align: right;
    margin-top: 20px;
    background-color: #e8f3e3;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    display: grid;
    grid-template-columns: 3fr 3fr 1fr;
    grid-template-rows: min-content min-content min-content min-content;
    grid-template-areas:
        "imgUrl name favorite"
        "imgUrl city city"
        "imgUrl price price"
        "description description description";
}

/* Hjärt inkonen */
#favorite {
    grid-area: favorite;
    padding-left: 30px;
    padding-top: 4px;
    justify-self: end;
    align-self: start;
}

/* bilden för resmålet */
#imgUrl {
    display: block;
    width: 150px;
    object-fit: cover;
    grid-area: imgUrl;
    padding-right: 15px;
    padding-top: 20px;
}

/* Rubriken för resmålet */
#name {
    grid-area: name;
    text-align: left;
}

/* Staden för resmålet */
#city {
    grid-area: city;
    text-align: left;
}

/* Pris för resmålet */
#price {
    grid-area: price;
    text-align: left;
}

/* beskrivning för resmålet */
#description {
    grid-area: description;
    text-align: left;
}

/*Hovereffekt på titeln på resmålen*/
.smapiPlace:hover #name {
    text-decoration: underline;
}

/* kartan */
#map {
    position: relative;
    height: 250px;
    width: 100%;
    z-index: 0;
}

/* små rutorna som popar upp när man hovrar över en pin på kartan*/
.smallInfoDiv {
    position: fixed;
    display: none;
    background: rgba(232, 240, 230, 0.9);
    color: rgb(25, 49, 26);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    border: 1px solid #004225;
    border-radius: 15px;
}

/* omslutande div element för knappen till alla turistmål på startsidan */
#allDestinations {
    display: flex;
    justify-content: center;
}

/* knappen för att komma till alla turistmål på startsidan */
#allBtn {
    background: none;
    font-size: 15px;
}

/* när man hovrar över knappen för att visa alla turistmålen på startsidan */
#allBtn:hover {
    text-decoration: underline;
    color: #004225;
}

/* element runt div elementen för recensioner */
#reviewsDiv {
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
}

/* rutorna för recensioner */
.smapiReviews {
    min-width: 200px;
    flex: 1;
    background-color: #fef2f3;
    margin: 5px;
    padding: 20px;
    border-radius: 10px;
    font-size: 12px;
}

/* texten för hur många år sen recensionen lades */
.smapiReviews i {
    font-size: 10px;
}

footer {
    background-color: #dfedd8;
    padding: 10px;
}

/* omgivande div för alla filtreringsknappar */
.dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
}

.dropdown button {
    background-color: #fdc3c3;
}

.dropdown button:hover {
    background-color: #ef9e9e;
}

/**/
#clear {
    border: 1px solid black;
}

/*Div som håller alla label element som skapas med svarsalternativen*/
.dropdownMenu {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 200px;
    border: 1px solid #ccc;
    z-index: 1000;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* de nya label elementen som skapas i javascript för svarsalternativen */
.dropdownMenu label {
    display: block;
    margin-bottom: 0.5rem;
}

/* klass som läggs till när en dropdown meny ska synas */
.open {
    display: block;
}

/* img elementet för varje resemåls "kort"*/
.picture {
    display: block;
    width: 150px;
    height: 150px;
    object-fit: cover;
    grid-area: imgUrl;
    padding-right: 15px;
    padding-top: 20px;
}

/* hover effekt för "läs mer" när en beskrivning är för lång */
i:hover {
    text-decoration: underline;
}

/* input i forumläret */
input {
    cursor: pointer;
}

#contact {
    background-color: #dfedd8;
    border-radius: 10px;
    padding: 10px;
    width: 200px;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 80px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modalContainer {
    background-color: rgba(255, 255, 255, 0.906);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.hide {
    display: none;
}

.smapiProduct h2 {
    display: flex;
    justify-content: space-between;
}

.smapiProduct .heart {
    padding-right: 20px;
    width: 80px;

}

#omOssText {
    max-width: 700px;
}

@media screen and (min-width: 450px) {

    .smapiPopular {
        max-width: 310px;
    }

    .smapiPopular h3 {
        font-size: 15px;
    }

    .smapiPopular img {
        width: 110px;
        height: 110px;
        margin-top: 18px;
    }

   .smapiPlace {
    display: grid;
        grid-template-columns: 1fr auto auto 2fr;
        grid-template-areas:
            ". imgUrl name favorite"
            ". imgUrl city city"
            ". imgUrl price price"
            ". description description description";
            max-width: 600px;
   }
}

@media screen and (min-width: 800px) {

    /*STARTSIDA */
    #form {
        width: 600px;
        margin: 0 auto;
    }

    #intro {
        margin: 100px;
        max-width: 800px;
        margin: 120px auto 0 auto;
    }

    #intro2 {
        max-width: 800px;
        margin: 0 auto;
    }

    .smapiPopular {
        font-size: 14px;
        max-width: 370px;
        height: 160px;
    }

    .smapiPopular h3 {
        font-size: 15px;
    }

    .smapiPopular img {
        width: 130px;
        height: 130px;
        margin-top: 15px;
        margin-left: 25px;
    }

    /*LISTSIDA */
    .smapiPlace {
        display: grid;
        grid-template-columns: 2fr 3fr 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
            "imgUrl name favorite"
            "imgUrl city city"
            "imgUrl price price"
            "imgUrl description description";
        gap: 10px;
        max-width: 700px;
        width: 100%;
        padding: 15px;
    }

    .smapiPlace img.picture {
        width: 200px;
        height: 200px;
        object-fit: cover;
        margin-top: -13px;
    }

    #name,
    #city,
    #price,
    #description {
        text-align: left;
        font-size: 16px;
        margin-top: 0px;
    }

    /*PRODUKTSIDA*/
    .smapiReviews {
        max-width: 350px;
    }

    /*FAVORITSIDA*/
    #favoritesContainer img.picture {
        width: 200px;
    }

    /*QUIZRESULTAT SIDA*/
    #destination img.picture {
        width: 200px;
    }
}

@media screen and (min-width: 1200px) {

    /*LISTSIDA */
    .smapiPlace {
        max-width: 900px;
    }

    .smapiPlace img.picture {
        width: 250px;
    }

    /*FAVORITSIDA*/
    #favoritesContainer img.picture {
        width: 250px;
    }

    /*QUIZRESULTAT SIDA*/
    #destination img.picture {
        width: 250px;
        height: 250px;
    }
}