html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #ffffff;
}

/* Hela navigeringen */
#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid #004225;
}
 /* Navigeringen till höger */
#asideDiv {
    display: flex;
    align-items: center;
    position: relative;
}

/* Hela formuläret för frågorna */
#form {
    border-radius: 10px;
    padding: 5px;
    background-color: #e5f1db;
}

/* Svarsalternativen */
#form label {
    display: block;
    margin-left: 20px;
    padding: 5px;
    
}

/* De olika frågorna i formuläret */
.hide {
    display: none;
}

/* knapparna i formuläret */
#form button {
    float: right;
    width: auto;
    background-color: #e5f1db;
    margin: 5px;

}

/* klass för stilsättning av inaktiverad knapp */
.disabled {
    pointer-events: none;
    opacity: 0.5;
}

/* de olika frågorna i formuläret */
#question1,
#question2,
#question3,
#question4 {
    height: 180px;

}

/* hamburgermenyn till höger */
#hamburgerMenu {
    display: none; /*Göm länkarna i hamburgarmenyn*/
    list-style-type: none;
    position: absolute;
    background-color: #CDEDB3;
    top: 100%;
    padding: 10px;
    margin-top: 0px;
    box-shadow: 0 1px 2px;
    border-radius: 3%;
}

/* de olika länkarna i hamburgermenyn */
#hamburgerMenu li {
    margin-bottom: 15px;
}

/* bilden för hamburgarmenyn */
#hamburgerIcon {
    margin-left: 15px;
    margin-bottom: 5px;
}

/* alla knapparna */
button {
    border-radius: 10%;
    border: 0;
    background-color: #CDEDB3;
    color:#004225;
    font-size: 13px;
    padding: 8px;
    margin-top: 10px;
}

/* när man hovrar över knapparna */
button:hover,
#form button:hover {
    background-color: #b0d294;
    color: white;
}

/* div element runt annat div element som är runt det nya div elementet som skapas för varje populär turistdestination */
#popularOutsideDiv { 
    overflow: hidden;
    position: relative;
    
}

/* div elementet som är runt det nya div elementet för varje populär turistdestination */
#popularOutsideDiv > div {
    display: flex;
    transition: transform 0.3s ease;
}

/* nya div elementen för populära turistmål */
.smapiPopular {
    flex: 0 0 55vw;
    cursor: grab;
    border:1px solid #b0d294;
    border-radius: 10px;
    margin-right: 10px;
    padding: 10px;
}

/* nya div elementen för alla turistmål på listsidan */
.smapiPlace {
    border: 1px solid #004225;
    border-radius: 10px;
    padding: 10px;
    text-align: right;
    margin-bottom: 10px;
}

/* kartan */ 
#map {
    height: 400px;
    width: 100%;
}

